<?xml version="1.0" encoding="utf-8" ?>
<hpp-configuration>
  <messages>
    <message name="hppRequest.merchantId.size">Merchant ID is required and must be between 1 and 50 characters</message>
    <message name="hppRequest.merchantId.pattern">Merchant ID must only contain alphanumeric characters</message>
    <message name="hppRequest.account.size">Account must be 30 characters or less</message>
    <message name="hppRequest.account.pattern">Account must only contain alphanumeric characters</message>
    <message name="hppRequest.orderId.size">Order ID must be less than 50 characters in length</message>
    <message name="hppRequest.orderId.pattern">Order ID must only contain alphanumeric characters, dash and underscore</message>
    <message name="hppRequest.amount.size">Amount is required and must be 11 characters or less</message>
    <message name="hppRequest.amount.pattern">Amount must only include numeric characters</message>
    <message name="hppRequest.amount.otb">Amount must be 0 for OTB transactions (where validate card only set to 1)</message>
    <message name="hppRequest.currency.size">Currency is required and must be 3 characters in length</message>
    <message name="hppRequest.currency.pattern">Currency must only consist of alphabetic characters</message>
    <message name="hppRequest.timestamp.size">Time stamp is required and must be 14 characters in length</message>
    <message name="hppRequest.timestamp.pattern">Time stamp must be in YYYYMMDDHHMMSS format</message>
    <message name="hppRequest.hash.size">Security hash must be 40 characters in length</message>
    <message name="hppRequest.hash.pattern">Security hash must only contain numeric and a-f characters</message>
    <message name="hppRequest.autoSettleFlag.pattern">Auto settle flag must be 0, 1, on, off or multi</message>
    <message name="hppRequest.comment1.size">Comment 1 must be less than 255 characters in length</message>
    <message name="hppRequest.comment1.pattern">Comment 1 must only contain the characters a-z A-Z 0-9 ' ", + \u201C\u201D ._ - &amp; \ / @ ! ? % ( ) * : £ $ \u20AC # [ ] | = ; ÀÁÂÃÄÅÆÇÈÉÊËÌÍÎÏÐÑÒÓÔÕÖ×ØÙÚÛÜÝÞßàáâãäåæçèéêëìíîïðñòóôõö÷ø¤ùúûüýþÿ\u0152\u017D\u0161\u0153\u017E\u0178¥</message>
    <message name="hppRequest.comment2.size">Comment 2 must be less than 255 characters in length</message>
    <message name="hppRequest.comment2.pattern">Comment 2 must only contain the characters a-z A-Z 0-9 ' ", + \u201C\u201D ._ - &amp; \ / @ ! ? % ( ) * : £ $ \u20AC # [ ] | = ; ÀÁÂÃÄÅÆÇÈÉÊËÌÍÎÏÐÑÒÓÔÕÖ×ØÙÚÛÜÝÞßàáâãäåæçèéêëìíîïðñòóôõö÷ø¤ùúûüýþÿ\u0152\u017D\u0161\u0153\u017E\u0178¥</message>
    <message name="hppRequest.returnTss.size">Return TSS flag must not be more than 1 character in length</message>
    <message name="hppRequest.returnTss.pattern">Return TSS must be 1 or 0</message>
    <message name="hppRequest.shippingCode.size">Shipping code must not be more than 30 characters in length</message>
    <message name="hppRequest.shippingCode.pattern">Shipping code must be of format [digits from postcode]|[digits from address] and contain only a-z A-Z 0-9 , . - / | spaces</message>
    <message name="hppRequest.shippingCountry.size">Shipping country must not contain more than 50 characters</message>
    <message name="hppRequest.shippingCountry.pattern">Shipping country must only contain the characters A-Z a-z 0-9 , . -</message>
    <message name="hppRequest.billingCode.size">Billing code must not be more than 60 characters in length</message>
    <message name="hppRequest.billingCode.pattern">Billing code must be of format [digits from postcode]|[digits from address] and contain only a-z A-Z 0-9 , . - / | spaces</message>
    <message name="hppRequest.billingCountry.size">Billing country must not contain more than 50 characters</message>
    <message name="hppRequest.billingCountry.pattern">Billing country must only contain the characters A-Z a-z 0-9 , . -</message>
    <message name="hppRequest.customerNumber.size">Customer number must not contain more than 50 characters</message>
    <message name="hppRequest.customerNumber.pattern">Customer number must only contain the characters a-z A-Z 0-9 - _ . , + @ spaces</message>
    <message name="hppRequest.variableReference.size">Variable reference must not contain more than 50 characters</message>
    <message name="hppRequest.variableReference.pattern">Variable reference must only contain the characters a-z A-Z 0-9 - _ . , + @ spaces</message>
    <message name="hppRequest.productId.size">Product ID must not contain more than 50 characters</message>
    <message name="hppRequest.productId.pattern">Product ID must only contain the characters a-z A-Z 0-9 - _ . , + @ spaces</message>
    <message name="hppRequest.language.pattern">Language must be 2 alphabetic characters only, optionally followed by an underscore and alphabetic country or region code</message>
    <message name="hppRequest.cardPaymentButtonText.size">Card payment button text must not contain more than 25 characters</message>
    <message name="hppRequest.cardPaymentButtonText.pattern">Card payment button text must only contain the characters a-z A-Z 0-9 ' , + \u201C\u201D ._ - &amp; \ / @!? % ( ) * :£ $ \u20AC # [] | =</message>
    <message name="hppRequest.cardStorageEnable.size">Card storage enable flag must not be more than 1 character in length</message>
    <message name="hppRequest.cardStorageEnable.pattern">Card storage enable flag must be 1 or 0</message>
    <message name="hppRequest.offerSaveCard.size">Offer to save card flag must not be more than 1 character in length</message>
    <message name="hppRequest.offerSaveCard.pattern">Offer to save card flag must be 1 or 0</message>
    <message name="hppRequest.payerReference.size">Payer reference must not be more than 50 characters in length</message>
    <message name="hppRequest.payerReference.pattern">Payer reference must only contain the characters a-z A-Z\ 0-9 _ spaces</message>
    <message name="hppRequest.paymentReference.size">Payment reference must not be more than 50 characters in length</message>
    <message name="hppRequest.paymentReference.pattern">Payment reference must only contain  characters a-z A-Z 0-9 _ - spaces</message>
    <message name="hppRequest.payerExists.size">Payer exists flag must not be more than 1 character in length</message>
    <message name="hppRequest.payerExists.pattern">Payer exists flag must be 0, 1 or 2</message>
    <message name="hppRequest.validateCardOnly.size">Validate card only flag must not be more than 1 character in length</message>
    <message name="hppRequest.validateCardOnly.pattern">Validate card only flag must be 1 or 0</message>
    <message name="hppRequest.dccEnable.size">DCC enable flag must not be more than 1 character in length</message>
    <message name="hppRequest.dccEnable.pattern">DCC enable flag must be 1 or 0</message>
    <message name="hppRequest.hppFraudFilterMode.size">HPP Fraud Filter Mode flag must not be more than 7 characters in length</message>
    <message name="hppRequest.hppFraudFilterMode.pattern">HPP Fraud Filter Mode flag must be ACTIVE, PASSIVE or OFF</message>
    <message name="hppRequest.hppVersion.size">Version flag must not be more than 1 character in length</message>
    <message name="hppRequest.hppVersion.pattern">Version must only contain the numbers between 1 and 2</message>
    <message name="hppRequest.hppSelectStoredCard.size">Select stored card must not be more than 50 characters in length</message>
    <message name="hppRequest.hppSelectStoredCard.pattern">Select stored card must only contain the characters a-z A-Z\ 0-9 _ spaces</message>
  </messages>
</hpp-configuration>